<mat-grid-list cols="4" rowHeight="4:4" style="display: flex;flex-direction: row;height:100px !important;border: solid;overflow: hidden;">
    <mat-grid-tile  style="background-image: url('https://wallpaperset.com/w/full/2/7/b/408633.jpg');background-repeat: no-repeat;background-size: 100% 100%;"></mat-grid-tile>
    <mat-grid-tile  style="background-image: url('https://wallpaperset.com/w/full/9/c/3/408639.jpg');background-repeat: no-repeat;background-size: 100% 100%;"></mat-grid-tile>
    <mat-grid-tile  style="background-image: url('https://wallpaperset.com/w/full/8/7/e/408710.jpg');background-repeat: no-repeat;background-size: 100% 100%;"></mat-grid-tile>
    <mat-grid-tile  style="background-image: url('https://wallpaperset.com/w/full/a/f/3/408692.jpg');background-repeat: no-repeat;background-size: 100% 100%;"></mat-grid-tile>
</mat-grid-list>
 
